* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'MyCustomFont';
    src: url('assets/DS-DIGI.TTF') format('truetype');
}

@font-face {
    font-family: 'MyCustomFont-2';
    src: url('assets/The Led Display St.ttf') format('truetype');
}

body {
    background-image: url(images/gum.jpeg);
    margin: 0;
    min-height: 100vh;
    background-size: contain;
    /* background-position: center center; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.426); */
    /* background-blend-mode: overlay; */
    overflow: hidden;
    
}

.middle {
    height: 290px;
    width: 720px;
    background-color: rgba(0, 128, 0, 0.8);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    text-align: center;
    color: white;
    text-shadow: 5px 5px 7px rgba(240, 220, 0, 0.308);
    /* border: 3px dashed rgba(0, 0, 0, 0.55); */

    box-shadow:
            0px 4px 10px rgba(0, 0, 0, 0.6),
            /* Outer shadow for depth */
            inset 0px 0px 12px rgba(0, 0, 0, 0.5);
    
}

@media screen and (max-width: 798px) {
    .middle {
        height: 540px;
        width: 470px;
    }
}


h1 {
    font-size: 4rem;
    font-weight: normal;
    font-family: MyCustomFont-2
    /* margin-top: -10rem; */
}

.countdown-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
    font-family: MyCustomFont;
    overflow: hidden;
}

.countdown-el {
    text-align: center;
    overflow: hidden;
}

.countdown-el span {
    font-size: 1.2rem;
    overflow: hidden;

}

.colon {
    margin-top: -1px;
}
